@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b('tree') {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  padding: 5px 0;
  font-size: 14px;
  &:hover {
    background-color: #f5f7fa;
  }

  .el-icon {
    margin-right: 6px;
  }
  @include e('expand-icon') {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    &.expanded {
      transform: rotate(90deg);
    }
    &.is-leaf {
      fill: transparent;
      cursor: default;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(270deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  @include e('icon-loading') {
    animation: rotate 1s linear infinite;
  }
  @include when(selected) {
    background-color: #e7f5ee;
  }
  @include e(content) {
    display: flex;
  }
  @include e(label) {
    cursor: pointer;
    flex: 1
  }
}
